{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block base %}

<div id="page">


    <!-- Main Container -->
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 animated" style="visibility: visible;">
                    <div class="my-account">
                        <div class="page-title">
                            <h1>Change Password</h1>
                        </div>
                        <div class="line"></div>
                        <div class="dashboard">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    {{ form.old_password.errors }}
                                    {{ form.old_password.label_tag }} <br>
                                    {{ form.old_password }}
                                </div><br>
                                <div class="form-row">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1.label_tag }} <br>
                                    {{ form.new_password1 }}
                                    {% if form.new_password1.help_text %}
                                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                    {% endif %}
                                </div>
                                <ul>
                                    <li>Your password can’t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                    <li>Your password can’t be a commonly used password.</li>
                                </ul><br>
                                <div class="form-row">
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2.label_tag }} <br>
                                    {{ form.new_password2 }}
                                    {% if form.new_password2.help_text %}
                                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                    {% endif %}
                                </div><br>
                                <div class="submit-row">
                                    <input type="submit" value="Change Password" class="default">
                                </div>
                            </form>
                        </div>
                        <!--dashboard-->
                    </div>
                </div>
                <aside class="col-right sidebar col-sm-3 animated" style="visibility: visible;">
                    <div class="block block-account">
                        <div class="block-title"> My Account </div>
                        <div class="block-content">
                            <ul>
                                <li class="current"><a><span>Edit Account</span></a></li>
                                <li><a href="{% url 'contact_info' %}">Contact Information</a></li>
                                <li><a href="{% url 'product_list' %}"><span> Products</span></a></li>
                                <li><a href="{% url 'wishlist' %}"><span> My Wishlist</span></a></li>
                                <li class="last"><a href="{% url 'checkout' %}"><span>Checkout</span></a></li>
                            </ul>
                        </div>
                        <!--block-content-->
                    </div>
                    <!--block block-account-->

                </aside>
                <!--col-right sidebar col-sm-3-->
            </div>
        </div>
    </section>
    <!-- Main Container End -->



    </body>

    </html>

    {% endblock %}