<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons Icon -->

  <title>Superb premium HTML5 &amp; CSS3 template</title>

  <!-- Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {% extends 'base.html' %}
  {% load static %}

  {% block base %}

<div id="page"> 
  
  
  
  <!-- Main Container -->
  <section class="main-container col1-layout bounceInUp animated">
    <div class="main container">
      <div class="col-main">
        <div class="account-login">
          <div class="page-title">
            <h1>Forgot Your Password?</h1>
          </div>
          <!--page-title-->
          <form action="#" method="post" id="form-validate">
            {% csrf_token %}
            <fieldset class="col2-set">
              <strong>Retrieve your password here</strong>
              <div class="content">
                <p>Please enter your email address below. You will receive a link to reset your password.</p>
                <ul class="form-list">
                  <li>
                    {{form}}
                    <!-- <label for="email_address">Email Address<em class="required">*</em></label>
                    <div class="input-box">
                      <input type="text" name="" alt="email" id="email_address" class="input-text required-entry validate-email" value="">
                    </div> -->
                  </li>
                </ul>
              </div>
              <!--content-->
              
              <p class="required">* Required Fields</p>
              <button type="submit" title="Submit" class="button submit"><span>Submit</span></button>
              <a href="#"><small>« </small>Back to Login</a>
            </fieldset>
            <!--col2-set-->
          </form>
        </div>
      </div>
      <!--col-main--> 
    </div>
  </section>
  <!-- Main Container End --> 
  
</body>
</html>

{% endblock %}
