{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{title}}{% endblock %}

{% block base %}

<div id="page">

  <!-- Breadcrumbs -->

  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <section class="main-container col1-layout wow bounceInUp animated">
    <div class="main container">
      <div class="col-main">
        <div class="row">
          <div class="product-view">
            <div class="product-next-prev"> <a class="product-next" href="#"><span></span></a> <a class="product-prev"
                href="#"><span></span></a> </div>
            <div class="product-essential">
              <form action="#" method="post" id="product_addtocart_form">
                <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                <div class="product-img-box col-sm-4 col-xs-12">
                  <div class="new-label new-top-left"> New </div>
                  <div class="product-image">
                    <div class="large-image"> <a href="{% url 'product_detail' product.id %}" class="cloud-zoom"
                        id="zoom1"> <img src="
                        {% if product.main_photo %}
                        {{product.main_photo.image.url}}
                        {% endif %}" 
                        alt="product image"> </a> </div>
                    <div class="flexslider flexslider-thumb">
                      <ul class="previews-list slides">
                        {% for image in product.other_photo%}
                        <li><a href="{% url 'product_detail' product.id %}" class='cloud-zoom-gallery'
                            rel="useZoom: 'zoom1', smallImage: '{{image.image.url}}' "><img
                              src="{{image.image.url}}" alt="Thumbnail 1" /></a></li>
                        {% endfor %}

                      </ul>
                    </div>
                  </div>
                  <!-- end: more-images -->
                </div>
                <div class="product-shop col-sm-8 col-xs-12">
                  <div class="product-name">
                    <h1>{{product.product.title}}</h1>
                  </div>
                  <div class="ratings">
                    <div class="rating-box overall-rating-box">
                    </div>
                    <p class="rating-links"> <a id="review_count"></a> </p>
                  </div>
                  <div class="price-block">
                    <div class="price-box">
                      <p class="special-price"> <span class="price-label">Special Price</span> <span
                          id="product-price-48" class="price"> ${{product.product.discount_price}} </span> </p>
                      <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">
                          ${{product.product.price}}
                        </span> </p>
                    </div>
                    {% if product.quantity > 0 %}
                    <p class="availability in-stock pull-right"><span>In Stock</span></p>
                    {% else %}
                    <p class="availability out-of-stock pull-right"><span>Out of Stock</span></p>
                    {% endif %}
                  </div>

                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p>{{product.product.description}}</p>
                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      <div class="pull-left">
                        <div class="custom pull-left">
                          <button
                            onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value--;return false;"
                            class="reduced items-count" type="button"><i class="fa fa-minus">&nbsp;</i></button>
                          <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty"
                            name="qty" style="margin: 0;">
                          <button
                            onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;"
                            class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>
                        </div>
                      </div>
                      <button class="button btn-cart" title="Add to Cart" type="button" id="pro-detail-add-to-cart"
                        data="{{product.id}}"><span>Add to Cart</span></button>
                    </div>
                    <div class="email-addto-box">
                      <ul class="add-to-links">
                        <li class=""> <a class="link-wishlist pro-add-wishlist added-wislist-html"
                            style="cursor: pointer;" data="{{product.id}}">
                            <span>Add to Wishlist</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="product-collateral col-lg-12 col-sm-12 col-xs-12 bounceInUp animated">
              <div class="add_info">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                  <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a>
                  </li>
                  <li> <a href="#reviews_tabs" data-toggle="tab">Reviews</a> </li>
                </ul>
                <div id="productTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="product_tabs_description">
                    <div class="std">
                      <p>{{product.product.description}}</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="reviews_tabs">
                    <div class="box-collateral box-reviews" id="customer-reviews">
                      {% if request.user.is_authenticated %}
                      <div class="box-reviews1">
                        <div class="form-add">
                          <form id="review-form" method="post" action="#">
                            {% csrf_token %}
                            <h3>Write Your Own Review</h3>
                            <fieldset>
                              <h4>How do you rate this product? <em class="required">*</em></h4>
                              <span id="input-message-box"></span>
                              <table id="product-review-table" class="data-table">

                                <thead>
                                  <tr class="first last">
                                    <th>&nbsp;</th>
                                    <th><span class="nobr">1 *</span></th>
                                    <th><span class="nobr">2 *</span></th>
                                    <th><span class="nobr">3 *</span></th>
                                    <th><span class="nobr">4 *</span></th>
                                    <th><span class="nobr">5 *</span></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="first odd">
                                    <th>Price</th>
                                    {% for review in form.price_rating %}
                                    <td class="value">{{review}}</td>
                                    {% endfor %}
                                  </tr>
                                  <tr class="even">
                                    <th>Value</th>
                                    {% for review in form.value_rating %}
                                    <td class="value">{{review}}</td>
                                    {% endfor %}
                                  </tr>
                                  <tr class="last odd">
                                    <th>Quality</th>
                                    {% for review in form.quality_rating %}
                                    <td class="value">{{review}}</td>
                                    {% endfor %}
                                  </tr>
                                </tbody>
                              </table>
                              <input type="hidden" value="" class="validate-rating" name="validate_rating">
                              <div class="review1">
                                <ul class="form-list">
                                  <li>
                                    <label class="required" for="nickname_field">Nickname<em>*</em></label>
                                    <div class="input-box">
                                      {{form.nickname}}
                                    </div>
                                  </li>
                                  <li>
                                    <label class="required" for="summary_field">Summary<em>*</em></label>
                                    <div class="input-box">
                                      {{form.summary}}
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="review2">
                                <ul>
                                  <li>
                                    <label class="required " for="review_field">Review<em>*</em></label>
                                    <div class="input-box">
                                      {{form.review}}
                                    </div>
                                  </li>
                                </ul>
                                <div class="buttons-set">
                                  <button id="review-submit" class="button submit" title="Submit Review" type="submit"
                                    data='{{product.id}}'><span>Submit
                                      Review</span></button>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>
                      {% else %}
                      <h2 style="color: brown;">Please, log in to write Your Review</h2>
                      {% endif %}
                      <div id="review-list">

                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

  <!-- Product Slider -->
  <section class="upsell-pro wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div class="new_title center">
          <h2>Products' Versions</h2>
        </div>
        <div id="upsell-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4 products-grid">
            {% for pro in qs %}
            {% if pro.product.brand == product.product.brand and pro.product.id == product.product.id %}
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"><a href="{% url 'product_detail' pro.id %}" title="{{pro.title}}"
                      class="product-image"><img src="{{pro.main_photo.image.url}}"
                        alt="{{pro.product.title}}"></a>
                    <!-- <div class="rating">
                      <div class="ratings">
                        <div class="rating-box">
                          <div class="rating" style="width:80%"></div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"><a href="{% url 'product_detail' pro.id %}"
                        title="{{pro.product.title}}">{{pro.product.title}}</a> </div>
                    <div class="item-content">
                      <div class="item-price">
                        <div class="price-box"><span class="regular-price"><span
                              class="price">${{pro.product.discount_price}}</span> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- End Item -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Related Products Slider -->
  <section class="related-pro wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div class="new_title center">
          <h2>Related Products</h2>
        </div>
        <div id="related-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4 products-grid">
            {% for pro in qs %}
            {% if pro.product.brand == product.product.brand and pro.product.id != product.product.id and pro.is_main %}
            <div class="item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"><a href="{% url 'product_detail' pro.id %}" title="{{pro.title}}"
                      class="product-image"><img src="{{pro.main_photo.image.url}}"
                        alt="{{pro.product.title}}"></a>
                    <!-- <div class="rating">
                      <div class="ratings">
                        <div class="rating-box">
                          <div class="rating" style="width:80%"></div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"><a href="{% url 'product_detail' pro.id %}"
                        title="{{pro.product.title}}">{{pro.product.title}}</a> </div>
                    <div class="item-content">
                      <div class="item-price">
                        <div class="price-box"><span class="regular-price"><span
                              class="price">${{pro.product.discount_price}}</span> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related Products Slider End -->


</div>


</body>

</html>
{% block link_js %}
<script type="text/javascript" src="{% static 'js/review.js' %}"></script>
{% endblock %}

{% endblock %}